.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 1rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: lightgray;
}

.card h2 {
  text-align: center;
}

.pers {
  color: white;
  text-align: center;
}